.CardItem {
    width: 200px;
  height: 250px;
  border: 1px solid #48064b;
  border-radius: 10px;
  background-color: #454545;
  color: #48064b;
  font-weight: bold;
  place-items: center;
  display: block;
  margin: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.ItemHeader, .ItemImg, .Info, .ItemFooter .picture {
  display: grid;
  place-items: center;
}
.ItemImg {
  
  width: 70px;
  height: 70px;
}
