.ItemDetailContainer {
    width: 200px;
  height: 400px;
  border: 2px solid #48064b;
  border-radius: 10px;
  background-color: #454545;
  color: #48064b;
  font-weight: bold;
  display: grid;
  place-items: center;
  margin: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
